<!DOCTYPE html>
<html>
<head><<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recommend-o-master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
	<title>Recommend-o-master</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Recommend-o-master</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
<br>
<br>
<br>
	<h1 style="text-align:center;"> Welcome to Recommend-o-master!</h1>
	<h2 style="text-align:center;">Choose one of the below products to copy and paste into search box for recommendations</h2>
	<p style="text-align:center;">Buzz Lightyear Boy's Deluxe Toy Story Costume</p>
	<p style="text-align:center;">Long Satin Bandage Evening Gown Formal Bridesmaid Prom Dress Brooch</p>
	<p style="text-align:center;">U.S. Polo Assn. Men's Short Snorkel Jacket</p>
	<p style="text-align:center;">Fairy Tale Jewelry Box</p>
	<p style="text-align:center;">Secret Wishes Star Wars Princess Leia Prisoner Adult Costume</p>
	<form action="/submit">
		<p style="text-align:center;">
			<label for="ProductName">Product Search</label><br>
			<input type="object" name="ProductName">
		</p>
		<p style="text-align:center;"><button type="submit">Submit</button></p>
	</form>
</body>
</html>
